* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(195, 201, 201);
}
.display {
  display: grid;
  grid-gap: 10px;  
}
.cube {
  border: none;
  box-shadow: 2px 2px 5px black;
}
.x {
    background: #000;
}